<%= form_for(@comment,remote: true) do |f| %>
<%= render 'shared/error_message',object: f.object %>
<div> <%= hidden_field_tag :micropost_id,micropost.id %> </div>
<div> <%= hidden_field_tag :commenter_id,current_user.id %> </div>
	<div class="field">
		<%= f.text_area :body,placeholder: "Compose new micropost..." %>
	</div>
	<%= f.submit "Commit",class: "btn btn-primary" %>
<% end %>