<div class="jumbotron" href="#">
<li id = "<%= micropost.id %>">
	<%= link_to gravatar_for(micropost.user,size: 50),micropost.user %>
	<span class="user"> <%= link_to micropost.user.name,micropost.user %></span>
	<span class="content">
	 	<%= micropost.content %>
	 	<%= image_tag micropost.picture.url if micropost.picture? %>
	</span>

	<ul class="nav nav-pills" role="tablist">
        
        <li>
        	<div class="praise" data-mid="<%= micropost.id %>" data-uid="<%= current_user.id %>"
        	 id= "a<%= micropost.id %>" data-did="<%= micropost.dotId(current_user.id) %>">
        	 	
        	 		<% if micropost.isdot(current_user.id) %>
        			<img class="praise-img" src="/assets/zan.png" style="display:none"/>
		        	<img class="praise-img-no" src="/assets/yizan.png" style="display:block"/>
	        	<% else %>
		        	<img class="praise-img" src="/assets/zan.png" style="display:block"/>
		        	<img class="praise-img-no" src="/assets/yizan.png" style="display:none"/>
		        	
	        	<% end %>

        	 	
        		
	        	<span class="praise-txt"><%= micropost.dots.count %></span>
        	</div>
        </li>
        <li>
        	<div class="commit" id = "b<%= micropost.id %>" ><img class="commit-img" src="/assets/commit.png" data-mid="<%= micropost.id %>"/>
        	 <span><%= micropost.comments.count %></span>
        	 <div class="commit-list" style="display:none">
        	 	<% if micropost.comments.any? %>
					<ol class="microposts">
					<%= render micropost.comments %>
					</ol>
				<% end %>
				<span class="micropost_form">
					<%= render 'shared/comment_form', micropost: micropost %>
				</span>
        	 </div>
        	</div>
        </li>
  	</ul>
		

    

	<span class="timestamp">
		Posted <%= time_ago_in_words(micropost.created_at) %> ago.
		<% if current_user==micropost.user %>
		<%= link_to "delete",micropost,method: :delete, data: {confirm: "you sure"} %>
		<% end %>
	</span>
	

</li>
</div>


