<div class="jumbotron" href="#">
<li id = "<%= micropost.id %>">
	<%= link_to gravatar_for(micropost.user,size: 50),micropost.user %>
	<span class="user"> <%= link_to micropost.user.name,micropost.user %></span>
	<span class="content">
	 	<%= micropost.content %>
	 	
	 	<% micropost.picture.each do |pic| %>
			<%= image_tag pic.url %>
	 	<% end %>
	</span>

	<ul class="nav nav-pills" role="tablist">
        
        <li>
        	<div class="dot" data-mid="<%= micropost.id %>" data-uid="<%= current_user.id %>"
        	 id= "a<%= micropost.id %>" data-did="<%= micropost.dotId(current_user.id) %>">
        	 	
    	 		<% if micropost.isdot(current_user.id) %>
        			<img class="dot-img" src="/assets/yizan.png" />
	        	<% else %>
		        	<img class="dot-img" src="/assets/zan.png" />
	        	<% end %>

	        	<span class="dot-txt"><%= micropost.dots.count %></span>
        	</div>
        </li>
        <li>
        	<div class="commit" id = "b<%= micropost.id %>" ><img class="commit-img" src="/assets/commit.png" data-mid="<%= micropost.id %>"/>
        	 <span><%= micropost.comments.count %></span>
        	 <div class="commit-list" style="display:none">
        	 	
				<ol class="comments" data-id="<%= micropost.id %>" id="c<%= micropost.id %>">
					<% if micropost.comments.any? %>
						<%= render micropost.comments %>
					<% end %>
				</ol>
				
				<span class="micropost_form">
					<%= render 'shared/comment_form', micropost: micropost %>
				</span>
        	 </div>
        	</div>
        </li>
  	</ul>
		

    

	<span class="timestamp">
		Posted <%= time_ago_in_words(micropost.created_at) %> ago.
		<% if current_user==micropost.user %>
		<%= link_to "delete",micropost,method: :delete, data: {confirm: "you sure"} %>
		<% end %>
	</span>
	

</li>
</div>


